body {
    background-color: rgb(230, 230, 230);
    font-family: 'Teko', sans-serif;

}

.box-border {
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 10%;
    border: 2px solid rgb(3, 3, 3);
    margin: 0;
    display: flex;
    margin-left:auto;
    margin-right: auto;
    margin-top: 5%;
    background: rgb(62, 224, 236);
    align-items: center;
    justify-content: center;
}

.box {
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 0;
    width: 100%;
    height: 80%;
    background: rgb(87, 87, 87);
}

.line {
    vertical-align: bottom;
    display: inline-block;
    width: 1%;
    height: 100%;
    border: 0.01px solid #000000;
    box-sizing: border-box;
    background: #f76fd5;
}

.select {
    /* background: #ff0000; */
    border: 1px solid rgb(255, 255, 255);

}

.top-btn {
    position: absolute;
    margin-top: -90%;
}



.icon {
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    margin-left: auto;
    margin-right: auto;
}

.buble {
    background-image: url("img/clock-time-svgrepo-com.svg");
}

.selectSort {
    background-image: url("img/shuffle-alt-svgrepo-com.svg");
}

.isnsertionSort {
    background-image: url("img/dark-magic-doll-halloween-spooky-svgrepo-com.svg");
}

.shuttleSort {
    background-image: url("img/space-shuttle-svgrepo-com.svg");
}

.shellSort{
    background-image: url("img/hypnotic-hypnotist-hypnotize-illusion-illusionist-svgrepo-com.svg");
}

.undo {
    background-image: url("img/undo-svgrepo-com.svg");
}

.stop {
    position: absolute;
    display: inline-flex;
    margin-top: 542px;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: #f76fd5;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.btn {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f76fd5;
    align-items: center;
    vertical-align: top;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.btn:hover {
    border: 2px solid rgb(0, 0, 0);
}

.stop:hover {
    border: 2px solid rgb(0, 0, 0);
}

p {
    text-align: center;
    font-size: 50px;
}